# this workflow will run nodejs coverages and tests
# and upload build-artifacts to branch-gh-pages
name: ci
on:
  push:
    branches:
      - alpha
      # - beta
      # - master
  workflow_dispatch:
env:
  # MY_GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
  zzzz1234: 1
jobs:
  job1:
    runs-on: windows-latest
    steps:
      #!! - uses: actions/checkout@v3
      #!! - run: sh test.sh
      - run: |
          dir
          dir
      #!! - run: Add-WindowsCapability -Online -Name OpenSSH.Server~~~~0.0.1.0
      #!! - run: Start-Service sshd
      #!! #!! - run: netsh advfirewall firewall add rule name="Open Port 22" dir=in action=allow protocol=TCP localport=22
      #!! - run: ssh runneradmin@localhost dir
#!! # base - .github/workflows/ci.yml - end
